---
import { Image } from "astro:assets"
import Link from "../components/icons/Link.astro"
import Github from "./icons/Github.astro"
import Badge from "../components/Badge.astro"
import { TAGS } from "./icons/Icons.ts"
interface Project {
    title:string,
    img:string,
    description:string,
    technologies:any[],
    github?:string,
    link:string
}
const PROYECTOS: Project[] = [{
    title:"Lulu D. Nails",
    img:"/img/lulu.webp",
    description:"Mi primer proyecto freelance, una landing page para el micro emprendimiento de un cliente. La pagina se centra en mostrar los diferentes servicios que mi cliente ofrece mostrando fotos de sus trabajos ya realizados. Ademas de integrar un calendario donde se muestran los días libres para poder reservar el servicio, esto hecho con una API diseñada en Express y usando el Notion donde el cliente anota la fechas de reserva.",
    technologies: [TAGS.ASTRO,TAGS.TAILWIND, TAGS.REACT,TAGS.EXPRESS],
    link:"https://luludnails.netlify.app"
},
{
    title:"Linkaroo",
    img:"/img/Linkaroo.webp",
    description:"Linkaroo es una App web en el que cumple la misma funcionalidad que Linktree. Utilizo MongoDB para la base de datos, tiene un sistema de Login y registro. La App te permite guardas los enlaces a tus redes sociales y genera una pagina con estas para poder compartirlas.",
    technologies:[TAGS.NEXT, TAGS.REACT,TAGS.TAILWIND,TAGS.MONGODB],
    link:"https://linkaroo-olive.vercel.app"
},
{
    title:"Diario de desarrollo",
    img:"/img/diario.webp",
    description:"Mi blog personal dedicado a hablar sobre desarrollo de videojuegos y enfocado en utilizar herramientas open-source como el game engine Godot. En ella explorare varios aspectos del desarrollo de videojuegos como la programación, la música, el diseño, etc.",
    technologies:[TAGS.ASTRO,TAGS.TAILWIND],
    link:"https://gonzalo-erceg.github.io/blog/",
    github:"https://github.com/Gonzalo-Erceg/blog"
},
{
    title:"Tic-tac3",
    img:"/img/tictac.webp",
    description:"Tic Tac 3 es un pequeño videojuego desarrollado con Three JS, una biblioteca para mostrar gráficos 3d en le navegador. El juego consiste en el típico juego de tic tac (o tres en raya) pero agregando una dimension mas, ampliando enormemente las combinaciones de juego",
    technologies:[TAGS.VITE,TAGS.REACT,TAGS.THREEJS],
    link:"https://gonzalo-erceg.github.io/tic-tac3/",
    github:"https://github.com/Gonzalo-Erceg/tic-tac3"
}
]
---



<div>
    {PROYECTOS.map(items=><article class="flex flex-col md:flex-row gap-10 w-full my-10">
    <div class="w-full md:w-1/2">
            <Image src={items.img} height={250} width={400} alt={items.title} class="rounded-xl  "/>
        </div>
            
            <div class="w-full md:w-1/2">
                <h3 class="text-3xl">{items.title}</h3>
                <ul class="flex gap-4 my-4 flex-wrap">
                    {items.technologies.map(item=><li ><Badge title={item.title} color={item.color}><item.icon/></Badge></li>)}    
                </ul>
                <p>{items.description}</p>

                <div class="flex my-5 gap-4">
              
                    <a class="py-2 px-1 rounded-md border border-blue-600 bg-slate-800 inline-flex gap-2" href={items.link} target="_blank"><Link/> Preview</a>
                    {items.github && <a class="py-2 px-1 rounded-md border border-blue-600 bg-slate-800 inline-flex items-center gap-2" href={items.github} target="_blank"><Github/> Código</a>}
                </div>
            </div>
        </article>)}
</div>